extends base.pug
block styles 
    style 
        include ../static/index.css
block content 
    
    div#mainMovieContainer.main

        section.movie 
            img(src="https://wallpaperaccess.com/full/5153374.jpg", alt="")
            h4 Pushpa | 2022
            span Hindi Dubbed 480p Quality
            a(href="https://cdn-130.anonfiles.com/V1z3A2L6v6/53ed1c98-1648089920/MoviezWap.Fun%20-%20Pushpa%20The%20Rise%20(2021)%20Telugu%20DVDScr%20480p%20HQ.Mp4").downloadBtn Download Now! 

        section.movie 
            img(src="https://m.media-amazon.com/images/M/MV5BNjE3MWFlODYtMTNhMi00NjZjLTk4MWMtZGY2NmRlYjA3Y2NiXkEyXkFqcGdeQXVyMTA2ODkwNzM5._V1_FMjpg_UX1239_.jpg", alt="")
            h4 Salute | 2022
            span Hindi Dubbed 720p Quality
            a(href="https://cdn-144.anonfiles.com/tbj3O1O1x4/72603a3c-1648090041/Salute%20(2022)%20Hindi%20Dubbed%20ORG%20720p%20HDRip%201GB%20Download.mp4").downloadBtn Download Now! 

        section.movie 
            img(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo", alt="")
            h4 The Batman | 2022
            span Hindi Dubbed 720p HDrip 
            a(href="https://cdn-101.anonfiles.com/J6p4t5M4xc/13aaadfe-1648090315/The%20Batman%202022%20Hindi%20Dubbed%20HDRip%20400MB%20Download.mp4").downloadBtn Download Now! 

        section.movie 
            img(src="https://cdn.bollywoodmdb.com/movies/largethumb/450x450/2020/the-kashmir-files/the-kashmir-files-poster-13.jpg", alt="")
            h4 The Kashmir Files | 2022
            span Hindi Dubbed HD Quality
            a(href="https://uploadhub.xyz/9318918966d95049/The_Kashmir_Files_2022_www.7StarHD.Li_Hindi_720p_HQ_PreDVDRip_1.3GB.mkv?download_token=70cba7f7effb84e4756cd50f3a5ba771b758c3f9d9a7cdd3935c060172e37146").downloadBtn Download Now! 

        section.movie 
            img(src="https://wallpaperaccess.com/full/5153374.jpg", alt="")
            h4 Pushpa | 2022
            span Hindi Dubbed HD Quality
            a(href="https://anonfiles.com/V1z3A2L6v6").downloadBtn Download Now! 

        section.movie 
            img(src="https://wallpaperaccess.com/full/5153374.jpg", alt="")
            h4 Pushpa | 2022
            span Hindi Dubbed HD Quality
            a(href="https://anonfiles.com/V1z3A2L6v6").downloadBtn Download Now! 

        section.movie 
            img(src="https://wallpaperaccess.com/full/5153374.jpg", alt="")
            h4 Pushpa | 2022
            span Hindi Dubbed HD Quality
            a(href="https://anonfiles.com/V1z3A2L6v6").downloadBtn Download Now! 

        